@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@theme inline {
	--color-brand: #0047ab;
	--color-brand-hover: #1274ff;
	--color-brand-light: #1964bd;
	--color-brand-dark: #060761;
	--color-brand-secondary: #4592ff;
	--color-light: #f8f9fa;
	--color-dark: #282c31;
	--color-deep-dark: #000712;

	--font-sans: 'Inter', sans-serif;
	--font-serif: 'Source Serif 4', serif;
}

html {
	scroll-behavior: smooth;
	user-select: text;
}

img {
	user-select: none;
	overflow-clip-margin: unset;
}

body {
	@apply transition-colors;
	@apply font-sans dark:text-light;
}

button {
	@apply cursor-pointer;
}

p {
	@apply font-serif;
}


input,
textarea,
select {
	@apply bg-white rounded-lg border p-2 focus:outline-0 border-gray-300/70;
	@apply focus:border-brand shadow-sm transition;
	@apply placeholder-gray-400;
	caret-color: var(--color-brand);
}

input,
textarea {
	@apply focus:scale-105;
}
