@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@theme inline {
	--color-brand: #0047ab;
	--color-brand-hover: #1274ff;
	--color-brand-light: #1964bd;
	--color-brand-dark: #060761;
	--color-brand-secondary: #4592ff;
	--color-light: #f8f9fa;
	--color-dark: #282c31;
	--color-deep-dark: #000712;

	--font-sans: 'Inter', sans-serif;
	--font-serif: 'Source Serif 4', serif;
}

html {
	scroll-behavior: smooth;
	user-select: text;
}

img {
	user-select: none;
}

body {
	@apply transition-colors;
	@apply font-sans;
}

button {
	@apply cursor-pointer;
}


p {
	@apply font-serif;
}
