@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@theme inline {
	--color-brand: #a26a1f;
	--color-brand-hover: #c48026;
	--color-brand-light: #edcca0;
	--color-brand-dark: #c0111f;
	--color-brand-secondary: #ffffff;
	--color-light: #f8f9fa;
	--color-dark: rgb(15, 15, 15);
	--color-deep-dark: rgb(0, 0, 0);

	--font-sans: 'Inter', sans-serif;
	--font-serif: 'Source Serif 4', serif;
}

html {
	scroll-behavior: smooth;
	user-select: text;
}

img {
	user-select: none;
	overflow-clip-margin: unset;
}

body {
	@apply transition-colors;
	@apply font-sans text-dark dark:text-light;
}

button {
	@apply cursor-pointer;
}

p {
	@apply font-serif;
}

input,
textarea,
select {
	@apply bg-white rounded-lg border p-2 focus:outline-0 border-gray-300/70;
	@apply focus:border-brand shadow-sm transition;
	@apply placeholder-gray-400 text-dark;
	caret-color: var(--color-brand);
}

input,
textarea {
	@apply focus:scale-105;
}

.answer {
	display: grid;
	grid-template-rows: 0fr;
	opacity: 0;
	pointer-events: none;
	transition:
		grid-template-rows 200ms ease,
		opacity 200ms ease;
}

.answer.open {
	grid-template-rows: 1fr;
	opacity: 1;
	pointer-events: auto;
}

.answer .inner {
	overflow: hidden;
}
