@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@theme inline {
	--color-brand: #ed303f;
	--color-brand-hover: #ef4755;
	--color-brand-light: #f37680;
	--color-brand-dark: #c0111f;
	--color-brand-secondary: #ffffff;
	--color-light: #f8f9fa;
	--color-dark: rgb(0, 0, 0);
	--color-deep-dark: #000712;

	--font-sans: 'Inter', sans-serif;
	--font-serif: 'Source Serif 4', serif;
}

html {
	scroll-behavior: smooth;
	user-select: text;
}

img {
	user-select: none;
}

body {
	@apply transition-colors;
	@apply font-sans;
}

button {
	@apply cursor-pointer;
}

p {
	@apply font-serif;
}
